
<nav>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="logo" class="logo">
        </a>
        <ul>
            <!-- Enlaces de navegación estáticos -->
            <li>
                <a href="/">
                    <img src="/icons/home.svg" alt="Inicio Icon" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    <img src="/icons/heroe.png" alt="Superhéroes Icon" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                    Superhéroes
                </a>
            </li>
            <li>
                <a href="/api/add">
                    <img src="/icons/agregar.jpg" alt="Agregar Nuevo Icon" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                    Agregar Nuevo
                </a>
            </li>
            
            <li>
                <a href="/about">
                    <img src="/icons/info.svg" alt="Acerca de Icon" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                    Acerca de
                </a>
            </li>
            <li>
                <a href="/contact">
                    <img src="/icons/contact.svg" alt="Contacto Icon" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                    Contacto
                </a>
            </li>
        </ul>
    </div>
</nav>      
