
<div class="hero-section">
  <section>
    <h1>Bienvenido al Sitio de Superhéroes</h1>
    <p>Descubre el mundo de los SuperHeroes</p>
    <p>Explora sus historias, conoce a sus aliados y enfrenta a sus enemigos. Este universo está lleno de aventuras, poderes increíbles y decisiones heroicas.</p>
  </section>
</div>
